@model HealthcareApp.Web.ViewModels.AppointmentViewModel

<h2>Edit Appointment</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="AppointmentId" />

    <!-- PATIENT -->
    <div class="mb-2">
        <label>Patient</label>
        <select asp-for="PatientId" asp-items="Model.Patients" class="form-control"></select>
    </div>

    <!-- DOCTOR -->
    <div class="mb-2">
        <label>Doctor</label>
        <select asp-for="DoctorId" asp-items="Model.Doctors" class="form-control"></select>
    </div>

    <!-- DATE -->
    <div class="mb-2">
        <label>Date</label>
        <input asp-for="Date" type="date" class="form-control" />
    </div>

    <!-- TIME SLOT -->
    <div class="mb-2">
        <label>Time Slot</label>
        <select asp-for="TimeSlot" class="form-control">
            <option value="">Select</option>
            <option>9AM - 11AM</option>
            <option>11AM - 1PM</option>
            <option>2PM - 4PM</option>
            <option>4PM - 6PM</option>
        </select>
    </div>

    <!-- STATUS -->
    <div class="mb-2">
        <label>Status</label>
        <select asp-for="Status" class="form-control">
            <option>Booked</option>
            <option>Cancelled</option>
            <option>Completed</option>
        </select>
    </div>

    <button class="btn btn-warning">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>