@model HealthcareApp.BLL.DTOs.AppointmentDto

<h2 class="text-success">Book Appointment</h2>

<form asp-action="Create" method="post">
    
    <div class="form-group mb-2">
        <label>Patient</label>
        <select asp-for="PatientId" class="form-control"
                asp-items="ViewBag.Patients">
            <option value="">-- Select Patient --</option>
        </select>
    </div>

    <div class="form-group mb-2">
        <label>Doctor</label>
        <select asp-for="DoctorId" class="form-control"
                asp-items="ViewBag.Doctors">
            <option value="">-- Select Doctor --</option>
        </select>
    </div>

    <div class="form-group mb-2">
        <label>Date</label>
        <input asp-for="Date" type="date" class="form-control" />
    </div>

    <button class="btn btn-success">Book</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>