@model HealthcareApp.BLL.DTOs.PatientDto

<h3>Delete Patient</h3>

<p>Are you sure you want to delete <b>@Model.Name</b>?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="PatientId" />

    <button class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>