@model HealthcareApp.BLL.DTOs.PatientDto

<h2>Edit Patient</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="PatientId" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Age</label>
        <input asp-for="Age" type="number" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Gender</label>
        <select asp-for="Gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Notes</label>
        <textarea asp-for="MedicalNotes" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-warning">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}